@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=PT+Sans&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=PT+Sans&family=Quicksand:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
}
.page{
    border-radius: 0.5em;
    background: white;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 800px;
    margin: 50px auto;
}
.top{flex: 1 1 50%;}
.top img{
    width: 100%;
    display: none;
}


.top .desktop{
    border-radius:.5em 0 0 .5em;
}
.top .mobile{
    border-radius: .5em .5em 0 0;
}
@media (max-width:500px){
    .top .mobile{
        display: flex;
    }
}
@media (min-width:501px){
    .top .desktop{
        display: flex;
    }
    .page{
        flex-direction: row;
    }
}

.bottom{
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    font-family: Montserrat ;
    font-weight: 200;
    flex: 1 1 50%;
    padding:20px;


}
h4{
    letter-spacing: 0.3em;
    font-weight: 100;
    font-size: clamp(14px,2vw,20px);
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);

}

h1{
    font-family: Fraunces,sans-serif;
    font-size: clamp(2em,5vw,52px);
    line-height: 1em;
    margin: 20px 0;
    color: hsl(212, 21%, 14%);
}

p{
    font-size: clamp(14px,2vw,20px);
    line-height: 1.5em;
    color: hsl(228, 12%, 48%);
}
.prices{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.2vw
}
.new{
    color: hsl(158, 36%, 37%);
}
.old{
    text-decoration: line-through;
    opacity: 0.7;
    font-size: clamp(14px,2vw,20px);
}
button{
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    border-radius: 0.7em;
    border: none;
    background: hsl(158, 36%, 37%);
    color: white;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
}
button:hover{
    background: #1A4031;
}


.attribution{
    text-align:center
}




